---
import { Image } from 'astro:assets';
import Icon from './Icon.astro';
import ProtectedEmail from './ProtectedEmail.astro';
import GenesLogoWhite from '../../public/images/GenesLogo-white.webp';

export interface Props {
  lang?: 'sr' | 'en';
}

const { lang = 'sr' } = Astro.props;

const translations = {
  sr: {
    copyright:
      '&copy; 2025 Menjačnica Genes. All rights reserved. Design and Development by @bosnjakaleksandar.',
    contactUs: 'Kontaktirajte nas',
    home: 'Početna',
    list: 'Kursna lista',
    timeText: 'Radno vreme',
    timeOne: 'Ponedeljak - Petak 08:30H do 17:00H',
    timeTwo: 'Subota 08:30H do 14:00H',
    timeThree: 'Nedelja neradna',
  },
  en: {
    copyright:
      '&copy; 2025 Exchange office Genes. All rights reserved. Design and Development by @bosnjakaleksandar.',
    contactUs: 'Contact us',
    home: 'Home',
    list: 'Exchange rates',
    timeText: 'Working hours',
    timeOne: 'Monday - Friday 08:30 AM to 5:00 PM',
    timeTwo: 'Saturday 08:30 AM to 2:00 PM',
    timeThree: 'Sunday closed',
  },
};

const t = translations[lang];
---

<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__content">
        <a class="footer__logo" href={lang === 'en' ? '/en' : '/'}
          ><Image
            src={GenesLogoWhite}
            alt="Genes Exchange Office Logo"
            loading="lazy"
            decoding="async"
          /></a
        >
        <div class="footer__info">
          <p class="footer__contact rw-32-500"><Icon name="mailbox" /> {t.contactUs}</p>
          <ProtectedEmail email="menjacnicagenes@gmail.com" class="footer__email rw-32-500" />
          <address class="footer__address rw-32-500">
            <Icon name="map-pin" /> Hajduk Veljkova 11, Novi Sad
          </address>
          <p class="footer__time rw-32-500"><Icon name="clock" /> {t.timeText}</p>
          <time class="rw-20-500"> {t.timeOne}<br />{t.timeTwo}<br />{t.timeThree}</time>
        </div>
        <ul class="footer__list">
          <li class="footer__item">
            <a href={lang === 'en' ? '/en' : '/'} class="footer__link rw-24-500">{t.home}</a>
          </li>
          <li class="footer__item">
            <a
              href={lang === 'en' ? '/en/exchange-rates' : '/kursna-lista'}
              class="footer__link rw-24-500">{t.list}</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2808.488374549859!2d19.8206756!3d45.2581377!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b11236b4a3005%3A0x4d78b614008acc8c!2sMenja%C4%8Dnica%20Genes!5e0!3m2!1ssr!2srs!4v1762702923745!5m2!1ssr!2srs"
          title="Menjačnica Genes lokacija na Google Maps"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <hr class="footer__divider" />
    <div class="footer__bottom">
      <p class="footer__copyright rw-16-500" set:html={t.copyright} />
    </div>
  </div>
</footer>
