---
export interface Props {
  title: string;
  description: string;
  imageSrc: string;
  imageAlt: string;
  reverse: boolean;
  buttonHref?: string;
  buttonText?: string;
  buttonTarget?: '_blank' | '_self';
  buttonIcon?: string;
  buttons?: Array<{
    text: string;
    href: string;
    target?: '_blank' | '_self';
    icon?: string;
  }>;
}

const { title, description, imageSrc, imageAlt } = Astro.props;
---

<section class="info">
  <div class={Astro.props.reverse ? 'info__container container info__container--reverse' : 'info__container container'}>
    <div class="info__content">
      <h2 class="info__title rw-48-600">{title}</h2>
      <p class="info__description rw-24-500">{description}</p>
      {
        Astro.props.buttons?.length ? (
          <div class="info__buttons">
            {Astro.props.buttons.map((btn) => (
              <a
                class="info__button btn-primary rw-24-500"
                data-svg={btn.icon || 'arrow-right'}
                href={btn.href}
                rel="noopener noreferrer"
                target={btn.target || '_self'}
              >
                {btn.text}
              </a>
            ))}
          </div>
        ) : null
      }
    </div>
    <div class="info__image">
      <img src={imageSrc} alt={imageAlt} />
    </div>
  </div>
</section>
